@import './font.css';

header {
    width: 97%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #202123;
    font-family: 'BookkMyungjo-Bd';
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
  }

nav {
    display: flex;
    gap: 20px;
}

.menu {
    text-decoration: none;
    font-family: 'Pretendard-Regular';
    color: #202123;
    font-size: 1rem;
    margin: 10px 0px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    display: inline-block;
    width: 87px;
}

.header-start {
    width: 50%;
    display: flex;
    min-width: 245px;
}
.header-end {
    width: 50%;
    display: flex;
    min-width: 245px;
    justify-content: flex-end;
    align-items: center;
}

.search {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 670px) {
    nav {
        display: none;
    }
    .search {
        display: none;
    }
}
