.play-card {
    width: 193px;
    height: 370px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
}

.play-card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.play-card h3 {
    font-size: 1.2rem;
    font-family: 'Pretendard-Bold';
    color: #202123;
    width: 100%;
    margin-top: 13px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play-card p {
    font-size: 0.8rem;
    font-family: 'Pretendard-Regular';
    color: #202123;
    margin-top: 0px;
}