.play-review {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-top {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 3% 3% 3% 3%;
    box-sizing: border-box;
}

.review-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(189, 189, 189, 0.462) 20%, rgba(21, 21, 21, 0.24) 80%);
    z-index: 1;
}

.review-top > * {
    position: relative;
    z-index: 2;
}

.review-top-start {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    width: 60%;
}

.review-top-end {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 40%;
    gap: 10px;
}

.review-top-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-end;
    height: 100%;
    text-align: center;
  }

.review-top-content.light-text {
    color: #e3e3e3;
}

.review-top-content.dark-text {
    color: #000000;
}

.play-name {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-family: 'Pretendard-Bold';
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
}

.play-discription {
    font-size: clamp(0.7rem, 1.2vw, 1.2rem);
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
}

.review-write-button {
    position: absolute;
    height: 10%;
    min-width: 134px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.review-write-button.dark-button {
    border: 1px solid white;
    color: white;
    background: rgba(134, 134, 134, 0.7);
    margin-left: 3%;
    
}

.review-write-button.light-button {
    border: 1px solid black;
    color: black;
    background: rgba(134, 134, 134, 0.7);
    margin-left: 3%;
}

.booking-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 64px;
    width: 64px;
}

.recommend-title,
.pair-title,
.actor-title {
    font-family: 'Pretendard-Bold';
    font-size: 1.2rem;
}

.recommend-cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    padding: 2% 2%;
}

.pair-title-sort-more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
}

.pair-title-sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 41px;
}

.pair-sort {
    height: 35px;
}

.pair-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pair-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 10px;
    padding: 2% 2%;
    width: 100%;
    place-items: center;
}

.actor-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

@media screen and (max-width: 670px) {
    .review-top-end {
        display: none;
    }

    .review-top-start {
        width: 100%;
    }
}
