.review-card {
    width: 100%;
    max-width: 418px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-radius: 10px;
    background: #FDFDFD;
    box-shadow: 0px 0px 4px 2px rgba(186, 186, 186, 0.20);
    padding: 1%;
    box-sizing: border-box;
}

.review-card-contents-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.review-card-contents-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}

.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.review-card h3 {
    font-size: 1.2rem;
    font-family: 'Pretendard-Bold';
    color: #202123;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-card h4 {
    font-size: 0.8rem;
    font-family: 'Pretendard-Regular';
    color: #202123;
    margin-top:0;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.total-rating,
.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rating {
    margin-top: 10px;
    gap: 5px;
}

.total-score {
    font-size: 1rem;
    font-family: 'Pretendard-Bold';
    color: #202123;
    margin-left: 5px;
}

.score {
    font-size: 0.8rem;
    font-family: 'Pretendard-Regular';
    color: #202123;
    margin-left: 5px;
}

.review-item {
    font-size: 0.8rem;
    font-family: 'Pretendard-Regular';
    color: #202123;
    margin-left: 5px;
}